.dashboard {
    width: 100%;
    height: 98vh;
}

.main-panel-dashboard {
    width: 95%;
    height: 90%;
    margin: auto;
}

.inner-dashboard-panel {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.my-plant {
    height: 100%;
    width: 75%;
    margin: auto;
    background: #6a994e;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.55);

}

.dashboard-buttons {
    width: 100%;
    height: 8%;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dashboard-buttons > button {
    width: 15%;
    height: 70%;
}

.dashboard-buttons > select {
    width: 15%;
    height: 70%;
    outline: none;
    border-radius: 15px;
}

.my-plant-panel {
    width: 98%;
    height: 85%;
    margin: auto;
    padding-top: 10px;
    background: #f2e8cf;
    border-radius: 20px;
    overflow-x: scroll;
    box-shadow: inset 0 0 5px rgba(1, 1, 1, 0.55);
}

.my-plant-panel::-webkit-scrollbar {
    display: none;
}

.side-panel {
    height: 100%;
    width: 20%;
    background: #6a994e;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.55);

}

.side-panel > h2 {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.notification-panel {
    width: 90%;
    height: 45%;
    margin: auto;
    background: #f2e8cf;
    border-radius: 20px;
    overflow-x: scroll;
    box-shadow: inset 0 0 5px rgba(1, 1, 1, 0.55);
}

.notification-panel::-webkit-scrollbar {
    display: none;
}

.notification-panel > p {
    width: 90%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-bottom: 1px #386641 solid;
}

.fun-fact-panel {
    width: 90%;
    height: 30%;
    margin: auto;
    background: #f2e8cf;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(1, 1, 1, 0.55);
}

.fun-fact-panel > p {
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    overflow-x: scroll;
}

.fun-fact-panel > p::-webkit-scrollbar {
    display: none;
}